body{
    margin: 0 auto;

    #app{
        // size
        width: 100vw;
        height: 100vh;

        // display
        @include flex(column);

        // decoration
        background-color: $h-c-white;

        *{
            // decoration
            color: $h-c-black;
            font-size: $h-f-text;
            font-family: Arial;
        }

        h1, h2, h3, h4{
            // margin
            margin: 0;
            padding: 0;
        }

        a{
            // decoration
            text-decoration: none;
        }
    }
}