// colors

    $h-c-white: #EEF0F4;
    $h-c-black: #262626;
    $h-c-gray: #D0D0D4;
    $h-c-gray-transparent: #d0d0d4cb;

// fonts

    $h-f-text-big: 24px;
    $h-f-text-medium: 20px;
    $h-f-text: 16px;