// colors

    $h-c-white-light: #FDFDFD;
    $h-c-white: #EEF0F4;
    $h-c-black: #262626;
    $h-c-gray: #e1e1e3;
    $h-c-gray-transparent: #d0d0d4cb;

// fonts

    $h-f-text-title: 40px;
    $h-f-text-subtitle: 32px;
    $h-f-text-big: 24px;
    $h-f-text-medium: 20px;
    $h-f-text: 16px;
    $h-s-text-small: 14px;

// size

    $h-h-header: 80px;

    $h-m-header: 10vh;